.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top {
  width: 688px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding-inline: 10px;
  background: white;
}

.dropdownWrapper {
  position: relative;
}
.dropdownContentWrapper {
  position: absolute;

  transform: translateX(-50%); /* რომ იყოს ცენტრში */
  background: white;
  border: 1px solid #906df4;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdownContent {
  position: absolute;
  top: 76px; /* რეგულირება, რომ სწორი პოზიცია ჰქონდეს */
  left: 360px; /* რომ იყოს ცენტრში */
  width: 100%;
  background: white;
  border: 1px solid #906df4;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  padding: 5px 0;
}

.option input {
  width: 18px;
  height: 18px;
}

.button {
  width: 100px;
  background: #906df4;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  background: #7749d9;
}
