.button {
  display: flex;
  gap: 15px;
  align-items: center;
  font-family: FiraGO;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
}

.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
}

.label {
  color: #1a1a1a;
}
