.button {
  width: 155px;
  height: auto;
  border-radius: 20px;
  gap: 10px;
  padding: 8px 20px;
  border: none;
  background-color: #8338EC;
  text-align: center;
  color: white;
}

.button:hover {
  background-color: #B588F4;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
}
