.container {
  max-width: 1920px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-right: 120px;
  padding-bottom: 30px;
  padding-left: 120px;
}

.headerButtons {
  display: flex;
  gap: 40px;
}
