.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}

.header {
  padding-block: 6px;
  font-family: FiraGO;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #343a40;
}

.inputField {
  width: 550px; /* Default width */
  height: 45px;
  border-radius: 5px;
  border-width: 1px;
  padding: 14px;
  background: #ffffff;
  border: 1px solid #ff99ff;
}

/* Apply small width if size="small" */
.smallWidth .inputField {
  width: 384px; /* Width for small size */
}

.bottomText {
  font-family: FiraGO;
  font-weight: 350;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #6c757d;
  padding-top: 4px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-top: 3px;
  text-align: left;
}

.disabledText {
  color: #dee2e6;
}

.disabled {
  opacity: 0.5;
}

.validText {
  color: #08a508; /* Green color for valid input */
}

.invalidText {
  color: red; /* Red color for invalid input */
}
